# 1 - Analise inicial dos dados

Esse notbook tem como objetivo compreender a estrutura do conjunto de dados,
indentificar tipos de variaveis, valores ausentes e possivel inconsistências
antes da etapa de limpeza e analise.

In [ ]:
import pandas as pd

df = pd.read_csv(r"C:\Users\JhoooN4Zz\OneDrive\Desktop\Meus breguesso de programação\Projetos\Analise de dados_Shopping_Behaviour_Dataset\Dados\dataset_tratado.csv")

df.head()

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually

# Obsevacao:
Esse dataset mostra nessas primeiras linha infomação como, cliente, idade, produto e compra, categoria, valor da compra, localização, cor, metodo de pagamento e avaliação.

In [2]:
df.shape

(3900, 18)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Customer ID             3900 non-null   int64
 1   Age                     3900 non-null   int64
 2   Gender                  3900 non-null   object
 3   Item Purchased          3900 non-null   object
 4   Category                3900 non-null   object
 5   Purchase Amount (USD)   3900 non-null   int64
 6   Location                3900 non-null   object
 7   Size                    3900 non-null   object
 8   Color                   3900 non-null   object
 9   Season                  3900 non-null   object
 10  Review Rating           3900 non-null   float64
 11  Subscription Status     3900 non-null   object
 12  Shipping Type           3900 non-null   object
 13  Discount Applied        3900 non-null   object
 14  Promo Code Used         3900 non-null   object
 15  Previous Purchases      3900 non-null   int64
 16  Payment Method          3900 non-null   object
 17  Frequency of Purchases  3900 non-null   object
dtypes: float64(1), int64(4), object(13)
memory usage: 548.6+ KB

# Estrutura do dataset:
- O conjunto de dados possue 3900 registro (Linhas)
- E 18 colunas (variáveis)
- As variáveis inclue categóricos e numéricos
- Nessa etapa não foi encontrado valores nulos

In [4]:
df.dtypes

Customer ID                 int64
Age                         int64
Gender                     object
Item Purchased             object
Category                   object
Purchase Amount (USD)       int64
Location                   object
Size                       object
Color                      object
Season                     object
Review Rating             float64
Subscription Status        object
Shipping Type              object
Discount Applied           object
Promo Code Used            object
Previous Purchases          int64
Payment Method             object
Frequency of Purchases     object
dtype: object

# Tipos de variáveis:
- Numéricas: Age, Purchase Amount (USD), Review Rating, Previous Purchases
- Categóricas: Gender, Category, Color, Location, Size

In [5]:
df['Gender'].unique()

array(['Male', 'Female'], dtype=object)

In [6]:
df['Category'].unique()

array(['Clothing', 'Footwear', 'Outerwear', 'Accessories'], dtype=object)

# Observações:
- O gênero dos clientes está dividido entre masculino e feminino.
- As categorias de produtos incluem diferentes segmentos de vestuário e acessórios.

In [7]:
df.describe()

,Customer ID,Age,Purchase Amount (USD),Review Rating,Previous Purchases
count,3900.000000,3900.000000,3900.000000,3900.000000,3900.000000
mean,1950.500000,44.068462,59.764359,3.749949,25.351538
std,1125.977353,15.207589,23.685392,0.716223,14.447125
min,1.000000,18.000000,20.000000,2.500000,1.000000
25%,975.750000,31.000000,39.000000,3.100000,13.000000
50%,1950.500000,44.000000,60.000000,3.700000,25.000000
75%,2925.250000,57.000000,81.000000,4.400000,38.000000
max,3900.000000,70.000000,100.000000,5.000000,50.000000

# Estatistica iniciais
- A idade media do cliente gira em torno da faixa aduta.
- A media de avalição mostra boa aceitação comparado ao produtos.

# Conclusão da exploração inicial
- Nessa exploração nao foi encontrado nenhum valor ausente ou qualquer outro contigencia que comprometa a analise,foi indentificado os tipos de variaveis de cada conjunto, por tando o dataset esta pronto para a proxima etapa.