#  - Limpeza e tratamento dos dados
Vamos realizar o tratamento dos dados para corrigir inconsistências,
pradonizar informações, tratar valores ausentes e preparar o dataset
para futuras analises.

In [14]:
import pandas as pd

df = pd.read_csv(r"C:\Analise de dados_Shopping_Behaviour_Dataset\Dados\shopping_behavior_updated.csv")

df.head()

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually

In [15]:
df.isnull().sum()

Customer ID               0
Age                       0
Gender                    0
Item Purchased            0
Category                  0
Purchase Amount (USD)     0
Location                  0
Size                      0
Color                     0
Season                    0
Review Rating             0
Subscription Status       0
Shipping Type             0
Discount Applied          0
Promo Code Used           0
Previous Purchases        0
Payment Method            0
Frequency of Purchases    0
dtype: int64

# Valores nulos:
- Não foi encontrado nenhum valor nulos nas colunas.

In [16]:
df.duplicated().sum()

np.int64(0)

# Colunas duplicadas:
- Não foi encontrado valores duplicados no dataset

In [17]:
df.dtypes

Customer ID                 int64
Age                         int64
Gender                     object
Item Purchased             object
Category                   object
Purchase Amount (USD)       int64
Location                   object
Size                       object
Color                      object
Season                     object
Review Rating             float64
Subscription Status        object
Shipping Type              object
Discount Applied           object
Promo Code Used            object
Previous Purchases          int64
Payment Method             object
Frequency of Purchases     object
dtype: object

In [18]:
df['Purchase Amount (USD)'] = df['Purchase Amount (USD)'].astype(float)

In [19]:
df['Purchase Amount (USD)'].dtypes

dtype('float64')

In [20]:
# Esse comando ele pradoniza os texto de cada variavel dentro da lista "colunas_texto"
colunas_texto = ['Gender', 'Category', 'Season', 'Location']

for col in colunas_texto:
    df[col] = df[col].str.strip().str.title()

# Conversão de dados
- Foi indentificado que a coluna "Purchase Amount (USD)" estava com o tipo inteiro, foi convertido para flooat

In [21]:
df.to_csv(r'C:\Analise de dados_Shopping_Behaviour_Dataset\Dados\dataset_tratado.csv', index=False) # Salvar o csv na pasta dados

# Conclusão da limpeza e tratamento
Não foi encontrado valores ausente e nem valores nulos no dataset, a unica alteração foi no tipo de variavel na coluna "Purchase Amount (USD)", portanto os dados está pronto para analises descritivas e comportamentais